@{
    ViewData["Title"] = "UserForgotPassword";
    Layout = "~/Views/Shared/_UserSideLayout.cshtml";
}


<div class="main-page">
    <div class="container">

        <div class="row justify-content-center align-items-center d-flex py-5">
            <div class="col-lg-4 mx-auto">
                <div class="osahan-login box shadow-sm p-4">
                    <div class="text-center mb-4">
                        <h5 class="font-weight-bold mt-3">Change Your Account Password</h5>
                        <p class="text-dark">Please enter your password</p>
                    </div>
                    <form method="post" asp-controller="Auth" asp-action="PostUpdateUserPassword" id="myForm" onsubmit="submitForm(event)">
                        <div class="form-group">
                            <label class="mb-1">Old Password</label>
                            <div class="position-relative icon-form-control">
                                <i class="mdi mdi-key-variant position-absolute"></i>
                                <input id="Oldpassword" type="password" name="OldPassword" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mb-1">New Password</label>
                            <div class="position-relative icon-form-control">
                                <i class="mdi mdi-key-variant position-absolute"></i>
                                <input id="password" type="password" name="Password" onkeyup="matchPassword2(this.value)" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mb-1">Confirm Password</label>
                            <div class="position-relative icon-form-control">
                                <i class="mdi mdi-key-variant position-absolute"></i>
                                <input id="cpassword" type="password" name="CPassword" onkeyup="matchPassword(this.value)" class="form-control" required>
                                <span id="errMsg" class="text-danger" style="display:none;">Password &amp; Confirm Password did not match</span>
                            </div>
                        </div>
                        <button class="btn btn-success btn-block text-uppercase" id="subBtn" type="submit"> Change </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section CustomJs {

    <script>
        function submitForm(event) {
            debugger;
            event.preventDefault(); // Prevent the default form submission

            var form = document.getElementById("myForm");
            var submitButton = document.getElementById("subBtn");

            submitButton.disabled = true;

            // Reset the form and enable the button after submission is complete
            form.submit();
            form.reset();
            submitButton.disabled = false;
        }
    </script>

    <script>

        function matchPassword(confirmPw) {
            var newPw = $('#password').val();
            if (newPw != confirmPw) {
                $('#errMsg').attr("style", "display:block");
                $('#subBtn').attr("disabled", true);
            }
            else {
                $('#errMsg').hide();
                $('#subBtn').attr("disabled", false);
            }
        }

        function matchPassword2(confirmPw) {
            var newPw = $('#cpassword').val();
            if (newPw != "") {
                if (newPw != confirmPw) {
                    $('#errMsg').attr("style", "display:block");
                    $('#subBtn').attr("disabled", true);
                }
                else {
                    $('#errMsg').hide();
                    $('#subBtn').attr("disabled", false);
                }
            }
        }
    </script>
}
