@{
    ViewData["Title"] = "UpdatePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .mtop {
        margin-top: 10rem;
    }
</style>

<div class="row mtop" style="height: 700px;">
    <div class="col-md-10 col-md-offset-1">

        <div class="panel panel-flat">
            <div class="panel-heading">

                <h4 class="panel-title text-bold" align="center">Update Password</h4>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" action="@Url.Action("PostUpdatePassword", "Auth")" method="post">

                    <fieldset class="content-group">
                        <legend class="text-bold text-uppercase"><span class="text-danger">*</span> Fields are mandatory to fill</legend>

                        <div class="form-group">
                            <label class="control-label col-lg-3 text-bold">Old Password : <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <input type="password" class="form-control" placeholder="Old Password" required name="OldPassword">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-3 text-bold">New Password <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <div class="input-group">
                                    <input type="password" class="form-control" placeholder="New Password" required name="Password" id="password" onkeyup="matchPassword(this.value)">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" onclick="ShowPasswords(1)" type="button" style="display:block" id="SignupShowPassword">Show</button>
                                        <button class="btn btn-default" onclick="ShowPasswords(1)" type="button" style="display:none" id="SignupHidePassword">Hide</button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-lg-3 text-bold">Confirm Password <span class="text-danger">*</span></label>
                            <div class="col-lg-9">
                                <div class="input-group">
                                    <input type="password" class="form-control" placeholder="Confirm New Password" required name="confirmPassword" id="ConfirmPassword" onkeyup="matchPassword(this.value)">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" onclick="ShowPasswords(2)" type="button" style="display:block" id="LoginShowPassword">Show</button>
                                        <button class="btn btn-default" onclick="ShowPasswords(2)" type="button" style="display:none" id="LoginHidePassword">Hide</button>
                                    </span>
                                </div>
                                <span id='pwErrMsg' class="text-danger"></span>
                            </div>
                        </div>
                    </fieldset>
                    <div class="text-center">
                        <span class="text-danger" id="errMsg" hidden>New and Confirm Password did not match</span>
                        <button type="submit" id="subBtn" class="btn btn-primary">Update <i class="icon-database-insert position-right"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function matchPassword(confirmPw) {
        var newPw = $('#password').val();
        if (newPw != confirmPw) {
            $('#errMsg').show();
            $('#subBtn').attr("disabled", true);
        }
        else {
            $('#errMsg').hide();
            $('#subBtn').attr("disabled", false);
        }
    }
</script>

@section CustomJs {
    <script>
        var message = '@ViewBag.Message';
        var color = '@ViewBag.Color';
        if (message != "") {
            triggerSweetAlert(message, color);
        }
    </script>
}



