
@{
    ViewData["Title"] = "UserForgotPassword";
    Layout = "~/Views/Shared/_UserSideLayout.cshtml";
}


<div class="bg-white">
    <div class="container">

        <div class="row justify-content-center align-items-center d-flex vh-100">
            <div class="col-lg-4 mx-auto">
                <div class="osahan-login py-4">
                    <div class="text-center mb-4">

                        <a href="@Url.Action("Index","Home")"><img src="~/images/butlerlogo.png" alt=""></a>
                        <h5 class="font-weight-bold mt-3">First, let's find your account</h5>
                        <p class="text-muted">Please enter your email</p>

                    </div>
                    <form method="post" asp-controller="Auth" asp-action="PostForgotPassword" id="myForm" onsubmit="submitForm(event)">
                        <div class="form-group">

                            <label class="mb-1">Email</label>

                            <div class="position-relative icon-form-control">
                                <i class="mdi mdi-email-outline position-absolute"></i>
                                <input type="email" name="Email" class="form-control" required>
                            </div>
                            @*<span style="color:@ViewBag.Color;">@ViewBag.Message</span>*@
                        </div>
                        <button class="btn btn-success btn-block text-uppercase" id="subBtn" type="submit"> Send Mail </button>
                        <div class="py-3 d-flex align-item-center">
                            <a href="@Url.Action("UserLogin","Auth")">Sign In</a>
                            <span class="ml-auto"> New to IT Valet? <a href="@Url.Action("Register","Auth", new{ value="ITValet"})">Join now</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function submitForm(event) {
        debugger;
        event.preventDefault(); // Prevent the default form submission

        var form = document.getElementById("myForm");
        var submitButton = document.getElementById("subBtn");

        submitButton.disabled = true;

        // Reset the form and enable the button after submission is complete
        form.submit();
        form.reset();
        submitButton.disabled = false;
    }
</script>

