@{
    ViewData["Title"] = "Guides";
    Layout = "~/Views/Shared/_UserSideLayout.cshtml";
}
<div class="guide-wrapper py-5">
    <div class="container">
        <h2>
            Tech Valet
            Guides
        </h2>
        <div class="row">
            <div class="col-md-4">
                <a href="@Url.Action("MasterYourPrinter","Article")" class="guide">
                    <img src="~/frontAssets/images/guide-01.jpg">
                    <div class="content">
                        <h6>Master Your Printer Troubles with These Solutions</h6>
                        <p>Printers are essential tools in both homes and offices....</p>
                    </div>
                </a>
            </div>
            @* <div class="col-md-4">
                <a href="@Url.Action("whyismymobilesoslow","Article")" class="guide">
                    <img src="~/frontAssets/images/guide-02.jpg">
                    <div class="content">
                        <h6>Why Is My Mobile So Slow?</h6>
                        <p>Have you ever thought of how your mobile device has gradually become slow, unresponsive, and at times annoyingly slow?</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a href="@Url.Action("turbochargeyourandroidtablet","Article")" class="guide">
                    <img src="~/frontAssets/images/guide-03.jpg">
                    <div class="content">
                        <h6>Turbocharge Your Android Tablet with These 10 Simple Fixes</h6>
                        <p>Is your Android tablet feeling sluggish or freezing..</p>
                    </div>
                </a>
            </div> *@
        </div>
    </div>
</div>