
@{
    ViewData["Title"] = "FeedbackRecord";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .dataTables_filter{
        display:none;
    }

    td {
        max-width: 100%; /* Set a maximum width for the cell */
        word-break: break-word; /* Enable word wrapping */
        white-space: pre-wrap; /* Allow wrapping and line breaks within the cell */
    }
</style>

<div class="content row mt-20">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading pb-0">
                <h1 class="panel-title text-center text-bold">
                    <u>Contact Us FeedBack</u>
                </h1>
                <div style="font-weight:bold; color:@ViewBag.Color ; margin-left:10px; margin-top:3px" id="alertMsg">
                    @ViewBag.Message
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive datatable-scroll" style="overflow:auto">
                    <table class="table table-striped table-bordered text-center" id="userTable">
                        <thead class="bg-dark text-white">
                            <tr>
                                <th class="text-bold" hidden>...</th>
                                <th class="text-bold text-center">
                                    Name
                                </th>
                                <th class="text-bold text-center">
                                    Phone Number
                                </th>
                                <th class="text-bold text-center">
                                    Email
                                </th>
                                <th class="text-bold text-center">
                                    Message
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section CustomJs {
    <script>
        $('#manageViewFeedbacks').addClass('active');
        loadTable();
        function loadTable() {

            $('#userTable').DataTable({
                "ajax": {
                    "url": projectBaseUrl + "Contact/GetContactList",
                    "type": "POST",
                    "dataType": "json",
                    "headers": {
                        'Authorization': Token
                    },
                    "data": {
                    }
                },
                'columns':
                    [
                        { "data": "hidden", "name": "0" },
                        { "data": "name", "name": "Name" },
                        { "data": "subject", "name": "Subject" },
                        { "data": "email", "name": "Email" },
                        { "data": "message", "name": "Message" },
                    ],
                'columnDefs':
                    [
                        {
                            "targets": 0,
                            "visible": false,
                            "searchable": false,
                            "render": function (data, type, full, meta) {
                                debugger;
                                return null;
                            }
                        },

                        {
                            "targets": 1,
                            'className': 'col-lg-3',
                            "render": function (data, type, full, meta) {

                                return full.name;
                            },
                        },

                        {
                            "targets": 2,
                            'className': 'col-lg-3',
                            "render": function (data, type, full, meta) {
                                return full.subject;
                            },
                        },

                        {
                            "targets": 3,
                            'className': 'col-lg-3',
                            "render": function (data, type, full, meta) {
                                return full.email;
                            },
                        },

                        {
                            "targets": 4,
                            'className': 'col-lg-3',
                            "render": function (data, type, full, meta) {
                                //return '<textarea readonly="" style="border: none; overflow: auto; scrollbar-width: none; -ms-overflow-style: none;" cols="70" rows="5">' + full.message + '</textarea>';
                                return full.message;
                            },
                        },

                    ],
                "serverSide": "true",
                "processing": "true",
                "language":
                {
                    "processing": "<i class='icon-spinner spinner icon-2x'></i>",
                    "search": "<span>Search :</span> _INPUT_",
                    "searchPlaceholder": "Filter Data",
                    "lengthMenu": "<span>Show :</span> _MENU_",
                    "paginate": { 'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;' }
                }
            });
        }
    </script>
}